<!DOCTYPE html>
<html>
    <head>
        <title>{{VIDEO_ID}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    </head>
    <body>
      <div class="uk-section uk-section-primary">
        <div class="uk-container">

        <h2>Video</h2>
        <div id="ytplayer"></div>
        <script>
          // Load the IFrame Player API code asynchronously.
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/player_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          // Replace the 'ytplayer' element with an <iframe> and
          // YouTube player after the API code downloads.
          var player;
          function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
              height: '576',
              width: '1024',
              videoId: '{{VIDEO_ID}}',
              events: {
                'onStateChange': onPlayerStateChange
              }
            });
          }
          function onPlayerStateChange(e)
          {
            if (e.data == 1 && ytSeconds > 0) {
              e.target.seekTo(ytSeconds);
              ytSeconds = 0;
            }
          }

          function seekTo(seconds)
          {
            if (player.getPlayerState() == 1) {
              player.seekTo(seconds);
            }
            else {
              ytSeconds = seconds;
              player.playVideo();
            }
          }
        </script>
        </div>
      </div>
      <div class="uk-section uk-section-muted">
        <div class="uk-container">

          <h3>Data</h3>
          <table class="uk-table uk-table-striped">
            <thead>
              <tr>
                  <th>Text</th>
                  <th>duration</th>
                  <th>start</th>
                  <th>ents</th>
                  <th>sentiment</th>
              </tr>
            </thead>
            <tbody>
              {% for line in LINES %}
                <tr>
                  <td>{{line.text}}</td>
                  <td>{{line.duration}}</td>
                  <td><a class="uk-link-text" href="#"  onclick="seekTo({{line.start}});">Jump to {{line.start}}</a></td>
                  <td>
                  {% for ent in line.ents %}
                    <ul class="uk-list uk-list-divider">
                      {% if ent.label_ in ["PERSON", "ORG", "EVENT"] %}
                        <span class="uk-label uk-label-success">
                      {% elif ent.label_ in ["PERCENT", "QUANTITY", "TIME", "CARDINAL"]%}
                        <span class="uk-label uk-label-warning">
                      {% else %}
                        <span class="uk-label uk-label-danger">
                      {% endif %}
                        {{ent.label_}}
                      </span>
                      <span class="uk-label">
                        {{ent.text}}
                      </span>
                    </ul>
                  {% endfor %}
                  </td>
                  <td>{{line.polarity}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </body>
</html>