name: Generating Report
# Don't want to burn my private minutes at this point
on:
  push:
    branches:
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 13 * * 1-5'

env:
  YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
  GH_PAGES_BRANCH: gh-pages
  MJ_APIKEY_PUBLIC: ${{ secrets.MJ_APIKEY_PUBLIC }}
  MJ_APIKEY_PRIVATE: ${{ secrets.MJ_APIKEY_PRIVATE }}

jobs:
  make_report:
    name: Generate Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python 3.x
        uses: actions/setup-python@v1
        with:
          python-version: '3.7' # Semantic version range syntax or exact version of a Python version
          architecture: 'x64' # Optional - x64 or x86, defaults to x64
      - name: installation of dependencies
        run: |
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          sudo wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O /usr/local/bin/orca
          sudo chmod +x /usr/local/bin/orca
          sudo apt-get install xvfb libgtk2.0-0 libgconf-2-4 tree -y
          python -m spacy download en_core_web_sm
      
      - name: Initialize GH_PAGES Report Folder
        run: |
          date=$(date '+%Y-%m-%d')
          echo $(date '+%Y-%m-%d')
          mkdir -p report
          cd report
          mkdir -p $GH_PAGES_BRANCH
          cd $GH_PAGES_BRANCH
          git init
          git remote add -t $GH_PAGES_BRANCH -f origin https://${{github.repository_owner}}:${{github.token}}@github.com/${{github.repository}}.git
          git checkout $GH_PAGES_BRANCH
      - name: Generate Report
        run:  python main.py
      
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add *.csv
          git commit -m "Updated yt_data.csv"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v1
        name: Upload Report folder
        with:
          name: report
          path: report
        
      - name: Update GH_PAGES
        if: endsWith(github.ref, '/master')
        # Todo split this into updating the repo
        # And commiting it later
        # Need to autogenerate index.html directory
        # Make gh-pages branch
        # checkout git branch only on CI
        # make directory for current report name
        # If no commits, just runs anyway
        run: |
          date=$(date '+%Y-%m-%d')
          echo $(date '+%Y-%m-%d')
          cd report/$GH_PAGES_BRANCH
          git add .
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action $date"
          git commit -m "Add changes $date" -a || true
          git push || true